---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<key>/39.7392,104.9903?exclude=minutely,hourly,daily,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 1ms
      X-Forecast-Api-Calls:
      - '14'
      X-Response-Time:
      - 2.421ms
    body:
      encoding: UTF-8
      string: '{"latitude":39.7392,"longitude":104.9903,"timezone":"Asia/Shanghai","currently":{"time":1541269773,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":27.25,"apparentTemperature":22.82,"dewPoint":20.16,"humidity":0.74,"pressure":1032.55,"windSpeed":3.81,"windGust":5.47,"windBearing":320,"cloudCover":0.99,"uvIndex":0,"visibility":10,"ozone":292.82},"offset":8}'
  recorded_at: Sat, 03 Nov 2018 18:29:33 GMT
recorded_with: VCR 4.0.0
